<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update Details</h2>
    <form action="/update" method="post">
        ID:<input type="text" id="id" name="id" value="<%= course.Id%>" readonly><br>
        Name:<input type="text" id="name" name="name" value="<%= course.Name%>"><br>
        Fees:<input type="text" id="fees" name="fees" value="<%= course.Fees%>"><br>
        Duration:<input type="text" id="duration" name="duration" value="<%= course.Duration%>"><br>
        <input type="submit" id="btn" name="btn" value="Submit"><br>
    </form>
</body>
</html>